/* Using 1024px screen 
This file will hold styles that are loaded using the same media query as the normal grid. */

/* Search form and user login */

#region-user-second {
  float: right;
  margin-top: -50px;
  overflow: hidden;
  text-align: right;
  top: 50px;
  z-index: 10;
}

/* Front page */
.front #block-views-news-block-2 {
  height: 294px;
}

.front #block-views-documents-documents-home-key .view-empty,
.front #block-views-documents-documents-home-key .view-content,
.front #block-views-events-block-2 .view-content,
.front #block-views-events-block-2 .view-empty {
  height: 240px;
}

.front #block-views-documents-documents-home-rep .view-empty,
.front #block-views-documents-documents-home-rep .view-content,
.front #block-views-maps-view-visuals-home .view-empty,
.front #block-views-maps-view-visuals-home .view-content,
.front #block-views-documents-documents-home-feat .view-empty,
.front #block-views-documents-documents-home-feat .view-content {
  height: 310px;
}
