/**
 * Styles for the kiosk.humanitarianresponse.info website
 */

.block {
  padding: 0 !important;
}

.field-items {
  margin-left: 0 !important;
}

#zone-content-second {
  background-color: #F2F2F2;
}

.view-slideshow {
  margin-bottom: 50px;
}


/* Kiosk country pages */
.kiosk-country-page #section-header,
.kiosk-country-page #breadcrumb {
  display: none;
}
