ul.menu li {
  margin: 0;
}
.block-superfish {
  overflow: visible;
}
section.block-superfish {
  padding: 0;
}

.block-superfish .block-title {
  display: none;
}
.sf-menu.sf-style-none {
  float: left;
  margin: 0;
  padding: 0;
}
.sf-menu.sf-style-none a > .sf-sub-indicator {
  top: 1.5em;
  background-image: url('../images/simple-arrows.png');
}
.sf-menu.sf-style-none.rtl a > .sf-sub-indicator {
  background-image: url('../images/simple-arrows-rtl.png');
}
.sf-menu.sf-style-none.sf-vertical a > .sf-sub-indicator {
  top: 1.1em;
}
.sf-menu.sf-style-none li li .sf-sub-indicator,
.sf-menu.sf-style-none li li a > .sf-sub-indicator {
  top: 1em;
}
.sf-menu.sf-style-none ul {
  padding-left: 0;
}
.sf-menu.sf-style-none.rtl ul {
  padding-left: auto;
  padding-right: 0;
}
.sf-menu.sf-style-none.sf-horizontal li:hover > ul,
.sf-menu.sf-style-none.sf-horizontal li.sfHover > ul {
  top: 48px;
}
.sf-menu.sf-style-none.sf-horizontal > li:hover > ul,
.sf-menu.sf-style-none.sf-horizontal > li.sfHover > ul {
  left: -1px;
}
.sf-menu.sf-style-none.sf-horizontal.rtl > li:hover > ul,
.sf-menu.sf-style-none.sf-horizontal.rtl > li.sfHover > ul {
  left: auto;
  right: -1px;
}
.sf-menu.sf-style-none.sf-horizontal li li:hover > ul,
.sf-menu.sf-style-none.sf-horizontal li li.sfHover > ul,
.sf-menu.sf-style-none.sf-vertical li:hover > ul,
.sf-menu.sf-style-none.sf-vertical li.sfHover > ul,
.sf-menu.sf-style-none.sf-navbar li li li:hover > ul,
.sf-menu.sf-style-none.sf-navbar li li li.sfHover > ul,
.sf-menu.sf-style-none.sf-navbar li li li.active-trail ul {
  top: -1px;
}
.sf-menu.sf-style-none.sf-horizontal > li.first:hover > ul,
.sf-menu.sf-style-none.sf-horizontal > li.first.sfHover > ul {
  left: 10px;
}
.sf-menu.sf-style-none.sf-horizontal.rtl > li.first:hover > ul,
.sf-menu.sf-style-none.sf-horizontal.rtl > li.first.sfHover > ul {
  left: auto;
  right: 10px;
}
.sf-menu.sf-style-none.sf-horizontal li li li.first:hover > ul,
.sf-menu.sf-style-none.sf-horizontal li li li.first.sfHover > ul,
.sf-menu.sf-style-none.sf-vertical li.first:hover > ul,
.sf-menu.sf-style-none.sf-vertical li.first.sfHover > ul,
.sf-menu.sf-style-none.sf-navbar li li li li.first:hover > ul,
.sf-menu.sf-style-none.sf-navbar li li li li.first.sfHover > ul {
  top: 10px;
}
.sf-menu.sf-style-none.sf-navbar > li:hover > ul,
.sf-menu.sf-style-none.sf-navbar > li.sfHover > ul,
.sf-menu.sf-style-none.sf-navbar > li.active-trail > ul {
  top: 50px;
}
.sf-menu.sf-style-none.sf-navbar li li:hover > ul,
.sf-menu.sf-style-none.sf-navbar li li.sfHover > ul {
  top: 38px;
}
.sf-menu.sf-style-none a,
.sf-menu.sf-style-none a:visited  {
  color: #555555;
  font: normal 12px Arial, Helvetica, Tahoma, Verdana, Sans-serif;
  padding: 1.4em 1.5em;
  text-decoration: none;
  text-shadow: 1px 1px 0 #ffffff;
}
.sf-menu.sf-style-none a:focus,
.sf-menu.sf-style-none a:hover,
.sf-menu.sf-style-none a:active,
.sf-menu.sf-style-none li:hover > a,
.sf-menu.sf-style-none li.sfHover > a {
  color: #222222;
}

.sf-menu.sf-style-none > li > a:focus,
.sf-menu.sf-style-none > li > a:hover,
.sf-menu.sf-style-none > li > a:active,
.sf-menu.sf-style-none > li:hover > a,
.sf-menu.sf-style-none > li.sfHover > a,
.sf-menu.sf-style-none > li.active-trail > a,
.sf-menu.sf-style-none > li > a.active {
  border-bottom: solid 3px #B91222;
  padding-bottom: 12px;
}
.sf-menu.sf-style-none a.sf-with-ul {
  padding-right: 3em;
}
.sf-menu.sf-style-none.rtl a.sf-with-ul {
  padding-left: 3em;
  padding-right: 1.5em;
}
.sf-menu.sf-style-none span.sf-description {
  color: #666666;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.sf-style-none.sf-horizontal li,
.sf-menu.sf-style-none.sf-navbar li {
  border-left-color: #ffffff;
}
.sf-menu.sf-style-none.sf-horizontal > li.first,
.sf-menu.sf-style-none.sf-navbar > li.first {
  border-left-color: #e0e0e0;
}
.sf-menu.sf-style-none.sf-horizontal.rtl > li.first,
.sf-menu.sf-style-none.sf-navbar.rtl > li.first {
  border-left-color: #ffffff;
}
.sf-menu.sf-style-none.sf-horizontal.rtl > li.last,
.sf-menu.sf-style-none.sf-navbar.rtl > li.last {
  border-left-color: #e0e0e0;
}
.sf-menu.sf-style-none.sf-navbar li > ul > li {
  border: 0 none;
  border-bottom: 1px solid #e0e0e0;
}
.sf-menu.sf-style-none.sf-navbar li > ul > li.first,
.sf-menu.sf-style-none.sf-navbar.rtl li > ul > li.last {
  border-left: 1px solid #e0e0e0;
}
.sf-menu.sf-style-none.sf-navbar li > ul > li.last,
.sf-menu.sf-style-none.sf-navbar.rtl li > ul > li.first {
  border-right: 1px solid #e0e0e0;
}
.sf-menu.sf-style-none.sf-vertical li,
.sf-menu.sf-style-none.sf-horizontal li li,
.sf-menu.sf-style-none.sf-navbar li li li {
  border: 1px solid #e0e0e0;
  border-top-color: #ffffff;
}
.sf-menu.sf-style-none.sf-vertical li.first,
.sf-menu.sf-style-none.sf-horizontal li li li.first,
.sf-menu.sf-style-none.sf-navbar li li li li.first,
.sf-menu.sf-style-none li ul.sf-megamenu li.sf-megamenu-wrapper {
  border-top-color: #e0e0e0;
}
.sf-menu.sf-style-none li {
  background: white;
}

/** Fix for IE 7 **/
#zone-menu-wrapper {
  position: relative;
  z-index: 5;
}

#section-content {
  z-index: 1;
}

